{% extends 'base.html' %}
{% load static %}

{% block 'head' %}

{% endblock %}

{% block 'body' %}
    <div class="box">
        <form action='{% url 'password_reset' %}' method='POST'>{% csrf_token %}
            <h1 class="titulo font-degrade borda-bottom-degrade">Recuperar Senha</h2>
            <br>
            <span class="span-descricao">Email:</span>
            <input type="email" class="form-control input-cadastro" name="email">
            <br>
            
            <input type="submit" value="Recuperar Senha" class="btn btn-success btn-lg">
                        
        </form>
    </div>
{% endblock %} 



